@import "../../../theme/theme";

.container {
  margin-left: -8px;
  margin-bottom: 5px;
  opacity: 0.85;
  border-radius: 2px 0 0 2px;
  background-color: $itemColor;
  box-sizing: border-box;
  padding: 5px 20px;
  height: 50px;
  cursor: pointer;
  border-left: 8px solid $accentColor;
  transition: height 0.4s ease-out;
  color: $textColor;

  .name {
    font-size: 16px;
  }
  .description {
    font-size: 12px;
    font-weight: 300;
  }

  .content {
    padding: 1em 0;
    font-size: 14px;
  }

  &:hover {
    opacity: 1;
    background-color: #FE5F55;
  }

  &.expanded {
    height: 500px;
    opacity: 1;
    background-color: #FE5F55;
  }
}

.ingredient {
  @extend .flex;
  font-size: 12px;
  padding: 0.25em 0;
  border-bottom: 1px solid lightgray;
  & > :first-child {
    flex: 1 0 140px;
    padding-right: 20px;
  }
  & > :last-child {
    flex: 1 0 10px;
  }
}
