@import "../../../theme/theme";

.container {
  margin-left: -8px;
  margin-bottom: 5px;
  opacity: 0.85;
  border-radius: 2px 0 0 2px;
  background-color: $itemColor;
  box-sizing: border-box;
  padding: 5px 20px;
  height: 50px;
  cursor: pointer;
  border-left: 8px solid $accentColor;
  transition: height 0.2s ease-out;

  .name {
    font-size: 16px;
    color: $textColor;
  }
  .description {
    font-size: 12px;
    font-weight: 300;
    color: $textColor;
  }

  &:hover {
    opacity: 1;
    background-color: #FE5F55;
  }
}
