$light: #f5f5f5;
$itemColor: #ededed;
$buttonColor: #1fb4ff;
$accentColor: #FE5F55;
$textColor: #4d4d4d;

.shadow {
  box-shadow: 3px 4px 18px -8px rgba(36, 36, 36, .8);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}