@import "../../../../theme/theme";
.container {
  padding: 1em;
}

.question {
  @extend .flex;
  padding: 0.5em 0.5em 1em;
  color: $textColor;
  .name {
    font-weight: 500;
    color: $accentColor;
  }
}