@import "../../../theme/theme";

.container {
  padding: 10px 1em;
  overflow-y: auto;
  height: 100%;
}

.ingredient {
  @extend .flex;
  .product {
    flex: 0 0 270px;
  }
  .amount {
    flex: 0 0 120px;
  }
}

.addButton {
  font-size: 12px;
}