@import "../../theme/theme";

.section {
  padding: 10px 1em 0;
  .title {
    color: $buttonColor;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .content {
    padding: 0.5em;
  }
}

.ingredient {
  .product {
    flex: 0 0 270px;
  }
  .amount {
    flex: 0 0 120px;
  }
}

.addButton {
  font-size: 12px;
}