@import "../../../theme/theme";
$iconSize: 12px;
$hoverColor: #0d3349;
$activeColor: #2b81af;

.container {
  @extend .flex;
  color: $textColor;
  user-select: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  .icon {
    @extend .flex;
    height: $iconSize;
    width: $iconSize;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: $buttonColor;
    &:hover {
      background-color: $hoverColor;
    }
    &:active {
      background-color: $activeColor;
    }
  }
}