@import "../../../theme/theme";
$iconSize: 12px;
$activeColor: #2b81af;

.container {
  @extend .flex;
  width: 134px;
  color: $textColor;
  user-select: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
  border-radius: 18px;
  cursor: pointer;
  &:hover {
    background-color: $itemColor;
  }
  &:active {
    background-color: lightgray;
  }
  .icon {
    @extend .flex;
    height: $iconSize;
    width: $iconSize;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
    background-color: $buttonColor;
  }
}